/* when adding fonts, see this: http://purecss.io/grids/#using-grids-with-custom-fonts */

.heading span.tab {
    display:inline-block;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background-color:#eee;

    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0);

    padding: 7px 12px 5px 12px;

    text-decoration: none;
    text-align: center;
}
#chart-container {
    border: 1px solid black;
}
.chart-sidekick {
    display: inline-block;
}

.repo-detail {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    width: 310px;
}
.repo-detail h1 {
    font-size: 20pt;
}

