<html>
    <head>
        <title>{{ data.userdata.login }}'s Programming Profile</title>
        <link rel="stylesheet" href="/static/pure-min.css">
        <link rel="stylesheet" href="/static/userpage.css">
    </head>
    <body>
        <div id="main">
            <div class="heading">
                <h1>Karan Sikka</h1>
                <div class="tabs">
                    <a href="#overview"><span class="tab">Overview</span></a>
                    <a href="#projects"><span class="tab">Projects</span></a>
                    <a href="#contributions"><span class="tab">Contributions</span></a>
                </div>
            </div>
            <div class="overview">
                <p>{{ data.userdata.name }} has contributed to {{ data.overview.num_repos_contributed_to }} source code repositories,
                with over {{ data.overview.total_commits }} commits,
                over the span of {{ data.overview.timespan }} years.
                </p>

                <canvas id="overview-repo-commits" width="400" height="400"></canvas>

            </div>
            <div class="projects">
            </div>
            <div class="contributions">
            </div>
        </div>
        <script src="/static/Chart.min.js"></script>
        <script src="/static/underscore-min.js"></script>
        <script src="/static/jquery-1.11.1.min.js"></script>
        <script>
            var data = {{ jsondata | safe }};

            // Get the context of the canvas element we want to select
            var ctx = document.getElementById("overview-repo-commits").getContext("2d");

            var chart1data = [];
            var colors = [
                ['#41A85F','#61BD6D'],
                ['#00A885','#1ABC9C'],
                ['#3D8EB9','#54ACD2'],
                ['#2969B0','#2C82C9'],
                ['#553982','#9365B8'],
                ['#28324E','#475577'],
                ['#FAC51C','#F7DA64'],
                ['#F37934','#FBA026'],
                ['#D14841','#EB6B56'],
                ['#B8312F','#E25041'],
                ['#75706B','#A38F84'],
                ['#D1D5D8','#CDCDCD']
            ];

            var _last_color_index = 0;
            var nextColor = function() {
                var cArr = colors[_last_color_index];
                _last_color_index += 1;
                _last_color_index %= colors.length;
                return cArr;
            };
            var getRepoCommitsChartData = function() {
                // sort it descending on number of commits
                var sortedSummaryPairs = _.sortBy(_.pairs(data.summaries), function(kvpair) {return (kvpair[1].contrib_dist[data.userdata.login] || 0) * -1;});
                var lastIndex;

                var firstRepoTooSmall = _.find(sortedSummaryPairs, function(x) {
                    var summary = x[1];
                    var numCommits = summary.contrib_dist[data.userdata.login];
                    return (numCommits / data.overview.total_commits) < 0.01;
                })

                var shortSummaryPairs;

                if (firstRepoTooSmall !== undefined) {
                    lastIndex = _.indexOf(sortedSummaryPairs, firstRepoTooSmall);
                    // take elements upto and excluding lastIndex
                    remainingRepos = sortedSummaryPairs.length - lastIndex;
                    shortSummaryPairs = _.first(sortedSummaryPairs, lastIndex);
                } else {
                    shortSummaryPairs = sortedSummaryPairs;
                }

                chart1Data = _.map(shortSummaryPairs, function(x) {
                    // console.log(x);
                    var repoName = x[0],
                        summary = x[1];
                    var y = nextColor();
                    var c1 = y[0],
                        c2 = y[1];
                    console.log(summary.contrib_dist[data.userdata.login]);
                    return { value: (summary.contrib_dist[data.userdata.login] || 0),
                             color: c1,
                             highlight: c2,
                             label: repoName
                    };
                });

                if (firstRepoTooSmall !== undefined) {
                    var y = nextColor();
                    var c1 = y[0],
                        c2 = y[1];
                    var remainingCommits = data.overview.total_commits - _.reduce(shortSummaryPairs, function(memo, pair) { return memo + pair[1].contrib_dist[data.userdata.login] }, 0);
                    chart1Data.push({
                             value: remainingCommits,
                             color: c1,
                             highlight: c2,
                             label: String(remainingRepos) + ' other repos'
                    });
                }
                return chart1Data;
            }

            var myNewChart = new Chart(ctx).Pie(getRepoCommitsChartData());

        </script>
    </body>
</html>
