<html>
    <head>
        <title>{{ data.userdata.login }}'s Programming Profile</title>
        <link rel="stylesheet" href="/static/pure-min.css">
        <link rel="stylesheet" href="/static/userpage.css">
    </head>
    <body>
        <div id="main">
            <div class="heading">
                <h1>Karan Sikka</h1>
                <div class="tabs">
                    <a href="#overview"><span class="tab">Overview</span></a>
                    <a href="#projects"><span class="tab">Projects</span></a>
                    <a href="#contributions"><span class="tab">Contributions</span></a>
                </div>
            </div>
            <div class="overview">
                <p>{{ data.userdata.name }} has contributed to {{ data.overview.num_repos_contributed_to }} source code repositories,
                with over {{ data.overview.total_commits }} commits,
                over the span of {{ data.overview.timespan }} years.
                </p>

                <p>
                Top repositories by number of your commits:
                </p>
                <!-- What are the repos I've worked on the most? -->
                <!-- reposByCommitCount -->
                <div class="chart-container">
                    <canvas id="overview-repo-commits" width="250" height="250"></canvas>
                    <div class="chart-sidekick">
                        <div id="overview-repo-commits-list">
                        </div>
                    </div>
                </div>

                <p>
                Top repositories by percent commit contribution:
                </p>
                <!-- What are the repos do I have high contribution? -->
                <!-- reposByContributionPercent -->
                <div class="chart-container">
                    <div id="overview-repo-contribution" style="width:700px; height:450px"></div>

                    <div class="chart-sidekick">
                        <div id="overview-repo-contribution-list">
                        </div>
                    </div>
                </div>

                <!-- Timeline of my repos -->
                <!-- reposByLastCommitDate -->
                {% for repo in data.repos %}
                <div class="repo-detail">
                    <h1>{{ repo.full_name }}</h1>
                    <p>Last commit: {{ repo.summary.last_commit_date }}</p>
                    <p>Number of commits mine: {{ repo.summary.num_my_commits }}</p>
                    <p>Number of commits total: {{ repo.summary.num_total_commits }}</p>
                    <p>Contribution percent: {{ repo.summary.contrib_percent }}</p>
                </div>
                {% endfor %}

            </div>
            <div class="projects">
            </div>
            <div class="contributions">
            </div>
        </div>
        <script src="/static/Chart.min.js"></script>
        <script src="/static/underscore-min.js"></script>
        <script src="/static/jquery-1.11.1.min.js"></script>
        <script src="/static/kmeans.js"></script>
        <script src="/static/highcharts.js"></script>
        <script src="/static/highcharts-more.js"></script>
        <script>
            var data = {{ jsondata | safe }};
            data.repos = _.indexBy(data.repos, function(r) { return r.full_name; });

            // Get the context of the canvas element we want to select
            var ctx = document.getElementById("overview-repo-commits").getContext("2d");

            var chart1data = [];
            var colors = [
                ['#41A85F','#61BD6D'],
                ['#00A885','#1ABC9C'],
                ['#3D8EB9','#54ACD2'],
                ['#2969B0','#2C82C9'],
                ['#553982','#9365B8'],
                ['#28324E','#475577'],
                ['#FAC51C','#F7DA64'],
                ['#F37934','#FBA026'],
                ['#D14841','#EB6B56'],
                ['#B8312F','#E25041'],
                ['#75706B','#A38F84'],
                ['#D1D5D8','#CDCDCD']
            ];

            var _last_color_index = 0;

            var nextColor = function() {
                var cArr = colors[_last_color_index];
                _last_color_index += 1;
                _last_color_index %= colors.length;
                return cArr;
            };

            /* data computatation functions TODO move to backend*/
            var getTotalCommits = function(r) {
                return r.summary.num_total_commits
            };
            var getNumMyCommits = function(r) {
                return r.summary.num_my_commits;
            };
            var getContribPercent = function(r) {
                return r.summary.contrib_percent;
            };

            /* reposByCommitCount */
            /* data massaging for repos by commit count */
            var getTopReposByCommitCount = function(byContrib) {
                var total = data.overview.total_commits;

                // sort it descending on number of commits
                var sortedRepos = _.sortBy(_.values(data.repos), function(r) {return (getNumMyCommits(r) * -1);});

                // find the first element which is too small, we'll truncate here.
                var lastIndex;
                var firstRepoTooSmall = _.find(sortedRepos, function(repo) {
                    var numCommits = getNumMyCommits(repo);
                    return (numCommits / total) < 0.01;
                });

                if (firstRepoTooSmall !== undefined) {
                    // take elements upto and excluding lastIndex
                    lastIndex = _.indexOf(sortedRepos, firstRepoTooSmall);
                    return _.first(sortedRepos, lastIndex);
                }

                return sortedRepos;
            };

            /* transformation into pie chart data for repos by commit count */
            var pieChartData = function(repos) {
                var chart1Data = _.map(repos, function(repo) {
                    var y = nextColor();
                    var c1 = y[0],
                        c2 = y[1];
                    return { value: getNumMyCommits(repo),
                             color: c1,
                             highlight: c2,
                             label: repo.full_name
                    };
                });

                var numTotalRepos = _.keys(data.repos).length,
                    numGivenRepos = repos.length;

                if (numGivenRepos < numTotalRepos) {
                    var y = nextColor();
                    var c1 = y[0],
                        c2 = y[1];
                    var total = data.overview.total_commits;
                    var remainingCommits = total - _.reduce(repos, function(memo, repo) { return memo + getNumMyCommits(repo) }, 0);
                    chart1Data.push({
                             value: remainingCommits,
                             color: c1,
                             highlight: c2,
                             label: 'other ('+String(numTotalRepos - numGivenRepos)+' repos)'
                    });
                }
                return chart1Data;
            };

            var myNewChart = new Chart(ctx).Pie(pieChartData(getTopReposByCommitCount()));
            var legendStr = myNewChart.generateLegend();
            $("#overview-repo-commits-list").html(legendStr);

            </script><script>
            /* reposByContributionPercent */
            var kMeansRepoContribData = function(k) {
                // from i = 0 to i = k-1,  i * 100 / k - 1
                var centroidPoints = _.map(_.range(k), function(i) { return {v: (i * 100)/(k-1), c:true}; });
                var getValue = function(x){
                    return x.c ? x.v : getContribPercent(x);
                };
                var dist = function(x,y) {
                    return Math.abs(getValue(x) - getValue(y));
                };
                var updater = function(centroid, repos) {
                    var sum = 0;
                    _.each(repos, function(r) {
                        sum += getContribPercent(r);
                    });
                    var newCentVal = sum / repos.length;
                    if (centroid.v === newCentVal)
                        return false;
                    centroid.v = newCentVal;
                    return true;
                };
                var clusters = kmeans(_.values(data.repos), k, dist, centroidPoints, updater);
                return [_.pluck(centroidPoints, 'v'), clusters];
            };

            var x = kMeansRepoContribData(3);
            var centroids = x[0],
                clusters = x[1];

            /*
            $('table').append('<tr><td>'+centroids[0]+'</td><td>'+clusters[0].length+'</td></tr>');
            $('table').append('<tr><td>'+centroids[1]+'</td><td>'+clusters[1].length+'</td></tr>');
            $('table').append('<tr><td>'+centroids[2]+'</td><td>'+clusters[2].length+'</td></tr>');
            _.each(data.repos, function(s, name) {
                $('table').append('<tr><td>'+name+'</td><td>'+getNumMyCommits(s)+'</td><td>'+getContribPercent(s)+'</td></tr>');
            });
            */


            var clusteredReposToBubbleData = function(centroids, clusters) {
                var bubbleData = _.map(clusters, function(reposInCluster, i) {
                    var name = ['Contributor', 'Major Contributor', 'Primary Contributor'][i];
                    var seriesData = _.map(reposInCluster, function(repo) {
                        var dataPoint = {
                            name: repo.full_name,
                            x: getContribPercent(repo),
                            y: getNumMyCommits(repo),
                            z: getTotalCommits(repo)
                        };
                        return dataPoint;
                    });
                    var series = {
                        name: name,
                        data: seriesData
                    };
                    return series;
                });
                return bubbleData;
            };

            $('#overview-repo-contribution').highcharts({
                chart: {
                    type: 'bubble',
                    zoomType: 'xy'
                },

                title: {
                    text: 'Number of Commits vs Contribution %'
                },

                plotOptions: {
                    bubble: {
                        tooltip: {
                            pointFormat: '<span style="font-size: 10px">{point.name}</span><br/>',
                        },
                    },
                },
	        xAxis: {
		    minRange:100,
                    min:-10,
		    max:110
	        },

                series: clusteredReposToBubbleData(centroids, clusters)
            });


        </script>
    </body>
</html>
